body {
    font-family: "Lucida Sans Unicode",
    "Lucida Grande",
    sans-serif;
    font-size: 27px;
    margin-top: 0px;
}
.header-img {
    height: 3rem;
    width: 5rem;
    color: white;
    margin: 0px;
}

.logo-text {
    
    color:white;
}

.nav-link {
    text-decoration: none;
    margin-top: 20px;
    color: WHITE;
}



#nav-bar {
    display: flex;
    justify-content: space-around;
    background: BLACK;
    height: 5rem;
    width: 100vw;

}

#form {
    text-align: center;
}

#video {
    
    margin: 1rem auto;
    display: block;
}

#subscription-models {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.model {
    height: 10rem;
    width: 10rem;
    text-align: center;
    background-color: rgb(200, 129, 129);
    border-radius: 20px;
}